@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4056f4;
  --color-secondary: #e71d36;
  --color-light: #f0f7f4;
  --color-dark: #071e22;

  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Space Grotesk', sans-serif;
}

@layer base {
  html,
  body {
    @apply w-full h-full font-primary text-light overflow-y-scroll;
  }

  p,
  span {
    @apply font-secondary text-sm;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .prose {
    h1:first-child {
      @apply mt-0;
    }

    p:first-of-type {
      @apply mb-4;
    }

    h1,
    h2,
    h3,
    h4 {
      @apply mb-2;
    }

    h1 {
      @apply mt-2;
    }

    h2 {
      @apply mt-4.5;
    }

    h3 {
      @apply mt-5.5;
    }

    h4 {
      @apply mt-3;
    }

    p,
    pre {
      @apply m-0;
    }

    ul {
      @apply my-0;
    }

    img {
      @apply mt-0 mb-1 rounded-sm;
    }

    kbd {
      @apply inline-block p-1.5 pb-2 text-[11px] leading-[10px] font-mono border border-[#d1d5da] rounded-[6px] shadow-[inset_0_-1px_0_#d1d5da];

      a {
        @apply block;
      }

      img {
        @apply rounded-sm;
      }

      p:first-of-type {
        @apply -mt-4 mb-0;
      }
    }

    #socials {
      @apply flex flex-wrap gap-2;

      .badge {
        @apply rounded-[2px] m-0;
      }
    }
  }
}

@keyframes animate-gradient {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 0%;
  }
}

.animated-gradient {
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary) 100%);
  background-size: 200% 100%;
  animation: animate-gradient 5s ease-in-out infinite;
}

.animated-modal {
  opacity: 0;
  transform: scale(0.95);
  transition: 0.4s ease;
  pointer-events: none;

  &[open] {
    pointer-events: auto;
  }

  &.showing {
    opacity: 1;
    transform: scale(1);
  }

  &.closing {
    opacity: 0;
    transform: scale(0.9);
  }
}
