@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4056f4;
  --color-secondary: #e71d36;
  --color-tertiary: #fcb045;
  --color-light: #f0f7f4;
  --color-dark: #071e22;

  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Space Grotesk', sans-serif;
}

@layer base {
  html,
  body {
    @apply w-full h-full font-primary text-light;
  }

  p,
  span {
    @apply font-secondary text-sm;
  }

  button {
    @apply cursor-pointer;
  }
}

@keyframes animate-gradient {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(
    135deg,
    var(--color-primary) 0%,
    var(--color-secondary) 50%,
    var(--color-tertiary) 100%
  );
  background-size: 200% 200%;
  animation: animate-gradient 5s ease-in-out infinite;
}
